@using HealthySnacks.Models
@model List<HealthySnacks>

@{
    ViewData["Title"] = "List Healthy Snacks"; @* It says there is something wrong with this line *@
}

    <div>
        <h2>Healthy Snacks page</h2>
    </div>


@{
    foreach (var HealthySnacks in Model)
    {
        <div>
            <h4>Name: @HealthySnacks.Name</h4>
            <p>Price: @HealthySnacks.Price</p>
        </div>
    }

}
