@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Healthy Snacks Website</h1>
    <h4>TASTEFUL, CHEWY AND FULL OF NUTRIENTS</h4>
    <img  src="images/FruitLeatherAssorted.jpg" width="400" height="170" alt="Fruit Leather Assorted" />
</div>
