
body, .container-fliud, .card {
    background-color: #EEF8EF;
}

.about-section {
    text-align: center;
}


.container-fluid {
    text-align: center;
    
}


.card {
    display: block;
    border: none;
}


h1 {
    padding-bottom: 30px;
}

h2 {
    text-align: center;
    padding-bottom: 30px;
}


img {
    width: 50%;
    text-align: center;
}
