

body, text-center, carousel slide {
    background-color: #F6DDEA /*EEF8EF*/;
}
.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 100%;
    width: auto;
}


.carousel-item {
    width: 100%;
    height: auto;
}


h1 {
    padding-bottom: 50px;
}