@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
<link href="@Url.Content("~/css/AboutUsStyle.css")" rel="stylesheet" />
</head>



<div class="about-section">
    <h1>About Us</h1>
    <p>We make organic, no added sugar and no artificial flavor snacks.</p>
    <p>This is 100% natural treat is made with real fruit and no artificial dyes so you get premium fruitness in every bite.</p>
</div>

<h2 style="text-align:center;">Our Team</h2>

<div class="container-fluid">
    <div class="card">
        <img src="images/VikaPhoto.jpg" alt="Vika">
        <div class="container">
            <h3>Vika Pravednaya</h3>
            <p class="title">CEO & Founder</p>
            <p>Hi, I am Vika. I am very passionate about healthy diet and well-balanced lifestyle. Try out my heathly snacks to satisfy your sweet tooth. </p>

            <a href="mailto: viiiktoriia@gmail.com">Send me a messsage &#128578</a>
        </div>
    </div>
</div>